.spline {
    scale: 1.5;
}

@media (min-width: 768px) {
    .spline {
        scale: 1.2;
    }
}

@media (min-width: 1024px) {
    .spline {
        scale: 1;
    }
}
@media (min-width: 1440px) {
    .spline {
        scale: 1;
    }
}